#panel {
	margin: auto;
	max-width: 60em;
	padding: 5vw 10vw;
}

#panel_heading {
	margin-bottom: 1rem;
}

#button_grid {
	height: 100%;
	display: grid;
	grid-gap: 1rem;
	grid-template-rows: repeat(2, auto);
	grid-template-columns: repeat(2, auto);
}

#button_grid .button {
	display: flex;
	align-items: center;
	justify-content: center;
}

#footer {
	text-align: center;
}